<a href="https://colab.research.google.com/github/AbelMendoza128/Programa-python/blob/main/Laboratorio_de_ejercicios_en_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas

Ejercicio 1

Crear una lista con los nombres de 5 bancos.

In [1]:
Bancos = ["BCP","MiBanco","BBVA","Scotiabank","Pichincha"]
Bancos

['BCP', 'MiBanco', 'BBVA', 'Scotiabank', 'Pichincha']

Ejercicio 2

Acceder al tercer banco de la lista.

In [7]:
Bancos = ["BCP","MiBanco","BBVA","Scotiabank","Pichincha"]
tercer_banco = Bancos[2]
print(tercer_banco)

BBVA

Ejercicio 3

Agregar un nuevo banco a la lista.

In [8]:
Bancos.append("Interbank")
Bancos

['BCP', 'MiBanco', 'BBVA', 'Scotiabank', 'Pichincha', 'Interbank']

Ejercicio 4

Eliminar el segundo banco.

In [19]:
Bancos
Bancos.remove("MiBanco")
Bancos

['BCP', 'Scotiabank', 'Pichincha', 'Interbank']

Ejercicio 5

Ordenar alfab√©ticamente los bancos.

In [21]:
Bancos
Bancos.sort()
Bancos

['BCP', 'Interbank', 'Pichincha', 'Scotiabank']

# Condicionales IF, ELIF, ELSE

Ejercicio 1

Verificar si un cliente tiene ingreso > 3000.

In [22]:
Ingreso = float(input("Ingrese su ingreso: "))
if Ingreso > 3000:
    print("El cliente tiene ingreso mayor a 3000 soles")

Ingrese su ingreso: 2500

Ejercicio 2

Evaluar edad para otorgar tarjeta de cr√©dito.

In [23]:
edad = int(input("Ingrese su edad: "))
if edad>=18:
    print(f"Eres mayor de edad, puedes obtener una tarjeta de cr√©dito")
else:
    print(f"Eres menor de edad, no puedes obtener una tarjeta de cr√©dito")

Ingrese su edad: 17
Eres menor de edad, no puedes obtener una tarjeta de cr√©dito

Ejercicio 3

Evaluar un score de cr√©dito.

In [25]:
Score_crediticio = float(input("Ingrese su score de cr√©dito: "))
if Score_crediticio >= 1000:
  print("Tienes un buen score")
else:
  print("Tienes un score bajo")

Ingrese su score de cr√©dito: 1000
Tienes un buen score

Ejercicio 4

Verificar si una cuenta tiene saldo negativo.

Ejercicio 5

Comparar dos tasas de inter√©s.

Ejercicio 6

Evaluar si un cliente tiene m√°s de 3 productos financieros.

Ejercicio 7

Determinar si un monto depositado supera los 10,000.

# **Diccionarios**

Ejercicio 1

Crear un diccionario con datos de un cliente.

In [29]:
Clientess = {
  "cliente_01" : {"nombre": "Juan", "edad": 30, "ciudad": "Lima","saldo": 100},
  "cliente_02" : {"nombre": "Maria", "edad": 25, "ciudad": "Arequipa","saldo": 200},
  "cliente_03" : {"nombre": "Pedro", "edad": 35, "ciudad": "Cusco","saldo": 300}
}

Ejercicio 2

Acceder al saldo del cliente.

In [32]:
Clientess = {
  "cliente_01" : {"nombre": "Juan", "edad": 30, "ciudad": "Lima","saldo": 100},
  "cliente_02" : {"nombre": "Maria", "edad": 25, "ciudad": "Arequipa","saldo": 200},
  "cliente_03" : {"nombre": "Pedro", "edad": 35, "ciudad": "Cusco","saldo": 300}
}
Clientess ["cliente_01"]["saldo"]

100

Ejercicio 3

Modificar el saldo.

Ejercicio 4

Agregar una nueva llave 'tarjeta_credito'.

Ejercicio 5

Eliminar el nombre del cliente.

# FOR

Ejercicio 1

Recorrer una lista de tasas de inter√©s.

In [33]:
tasa_interes =[0.1,0.2,0.3]
for y in tasa_interes:
  print(y)

0.1
0.2
0.3

Ejercicio 2

Sumar todos los saldos de una lista.

Ejercicio 3

Recorrer una lista de precios de productos ecommerce y aplicar descuento de 10%.

Ejercicio 4

Contar cu√°ntos productos tienen un precio mayor a 100.

Ejercicio 5

Recorrer campa√±as de marketing y mostrar su nombre.

Ejercicio 6

Recorrer un diccionario de clientes con saldo y mostrar solo los que tengan saldo > 2000.

Ejercicio 7

Recorrer una lista de emails de clientes y contar los que terminan en "@gmail.com".

# Mini Proyecto

"Evaluador de Clientes Hipotecarios"

Contexto:
Un banco quiere evaluar a sus clientes para ofrecerles un nuevo cr√©dito hipotecario.
Cada cliente tiene datos como: nombre, ingreso mensual, deudas actuales y n√∫mero de productos contratados.

Objetivo:
1. Crear la base de datos de clientes usando un diccionario.
2. Usar for para recorrer todos los clientes.
3. Aplicar condicionales para clasificar:
   - "Elegible" si su ingreso anual es mayor a 36,000 soles, sus deudas son menores a 15,000 soles y tiene al menos 2 productos contratados.
   - "Requiere Evaluaci√≥n" si cumple solo algunas condiciones.
   - "No Elegible" si no cumple ninguna condici√≥n.
4. Mostrar el resultado bien formateado por cliente.

Instrucciones

1. Crea un diccionario llamado clientes con al menos 5 clientes.
2. Cada cliente tendr√°:
   - Nombre (str)
   - Ingreso mensual (float)
   - Deudas (float)
   - N√∫mero de productos contratados (int)
3. Calcula el ingreso anual (ingreso mensual √ó 12).
4. Usa un for para recorrer cada cliente.
5. Usa if, elif, else para clasificarlo en una de las tres categor√≠as.
6. Muestra en pantalla: Cliente: {nombre} - Resultado: {clasificaci√≥n}

# üî• Nivel extra:

1. Ingresa manualmente los clientes (input).
2. Calcula la diferencia absoluta (abs) entre ingreso anual y deudas.
3. Redondea (round) el ingreso anual al n√∫mero entero m√°s cercano.